<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품관리</title>
    <link href="../../../../resources/static/css/reset.css" rel="stylesheet">
    <link href="../../../../resources/static/css/header.css" rel="stylesheet">
    <link href="../../../../resources/static/css/footer.css" rel="stylesheet">
    <link href="../../../../resources/static/css/edit_view.css" rel="stylesheet">
</head>

<body>

<!------.header시작------>
<header class="header">
    <div class="header_menu">
        <a href="#">상품등록</a>
        <a href="#">상품목록</a>
    </div>
</header>
<!------.header끝------>


<!------.edit시작------>
<section class="edit">
	<h1>상품정보수정</h1>
	<div class="edit_name">
		<h2>상품명</h2>
		<input type="text">
	</div>
	<div class="edit_qty">
		<h2>판매가</h2>
		<input type="text">
	</div>
	<div class="edit_price">
		<h2>재고수량</h2>
		<input type="text">
	</div>
    <div class="edit_thumbnail">
		<h2>대표이미지</h2>
		<button type="button">업로드</button>
	</div>
	<button type="button">저장하기</button>
</section>
<!------.edit끝------>


<!------.footer시작------>
<footer class="footer">
    <div class="footer_menu">
        <a href="#">기업소개</a>
        <a href="#">이용약관</a>
        <a href="#">개인정보처리방침</a>
        <a href="#">고객센터</a>
    </div>
    <div class="footer_info">
        (주)셋인데어 | 대표자 : 홍길동 | 사업자등록번호 : 100-20-30000 | 통신판매번호 : 2022-부산진구-0000 | 주소 : 부산광역시 부산진구 중앙대로 749, 4층 400호 | 문의 : cs@setinthere.com | 전화 : 070-0000-0000 | 팩스 : 0303-0000-0000
    </div>
    <div class="footer_languages">
        <select class="languages" name="languages">
            <option value="한국어">한국어</option>
            <option value="영어">English</option>
            <option value="일본어">日本語</option>
            <option value="중국어(간체)">中文(简体)</option>
            <option value="중국어(번체)">中文(繁体)</option>
            <option value="독일어">Deutsch</option>
            <option value="러시아어">ру́сский</option>
            <option value="스페인어">español</option>
            <option value="이탈리아어">italiano</option>
        </select>
    </div>
</footer>
<!------.footer끝------>

</body>
</html>
