@charset "UTF-8";

@font-face {
    font-family: 'RixInooAriDuriR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


/*------.detail시작------*/
.detail_page {
    width: 1000px;
}
.page_thumbnail {
    width: 398px;
    height: 398px;
    border: 1px dotted #607EAA;
}
.page_name {
    width: 398px;
    height: 78px;
    border: 1px dotted #607EAA;
}
.page_price {
    width: 398px;
    height: 78px;
    border: 1px dotted #607EAA;
}
.page_shipping {
    width: 398px;
    height: 78px;
    border: 1px dotted #607EAA;
}
.page_qty {
    width: 398px;
    height: 78px;
    border: 1px dotted #607EAA;
}
.page_buy {
    width: 398px;
    height: 78px;
    border: 1px dotted #607EAA;
}
.page_info {
    width: 798px;
    border: 1px dotted #607EAA;
}
.page_cont1 {
    display: -webkit-flex;
    display: flex;
    margin: 50px;
}
.page_cont2{
    margin: 50px;
}
/*------.detail끝------*/
