@charset "UTF-8";

@font-face {
    font-family: 'MonoplexKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


/*------.edit시작------*/
.edit{
    width: 90%;
    margin: 50px auto;
}
.edit_name, .edit_qty, .edit_price, .edit_thumbnail{
    border: 1px solid #607EAA;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}
/*------.edit끝------*/
