@charset "UTF-8";

@font-face {
    font-family: 'RixInooAriDuriR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
	font-family: 'Pretendard-Regular';

}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}


/*------.header시작------*/
.header{
	height: 60px;
	background-color: #F9F5EB;
}

.header_menu{
    display: -webkit-flex;
	display: flex;
	justify-content: center;
}

.header_menu a{
    color: #1C3879;
	line-height: 60px;
	font-size: 14px;
	font-weight: bolder;
	margin-right: 50px;
}

.header_menu a:last-child{
    margin-right: 0
}
/*------.header끝------*/
